/* ---------------------------------------------------------- */
/* CONFIGURACIONES GLOBALES */
/* ---------------------------------------------------------- */
* {box-sizing: border-box;}
/* html{max-width: 100vw !important; margin: 0 !important} */
body, ul{ margin: 0  }
body{background-color: rgb(243, 243, 243);}
html{scroll-behavior: smooth;}

/* ---------------------------------------------------------- */
/* ESTADO DE FIREBASE */
/* ---------------------------------------------------------- */
#load{position: fixed;float: left;background-color:rgba(40, 160, 97,25%); color:rgb(37, 37, 37); border-radius: 7px;padding: 10px; width: max-content; left: 20px; backdrop-filter: blur(2.5px);}
#load{font-family: 'Roboto', sans-serif; font-weight: 300;}


/* ---------------------------------------------------------- */
/* Header de Body */
/* ---------------------------------------------------------- */

@media  screen and (max-width: 1034px) {
    #intro-text, #intro-subtext{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #socialnetwork .bi {font-size: 42px;}
    #socialnetwork {margin-top: 30px;}


    #nav .bi{font-size: 24px}
    #nav li{font-size: 0px;}
    #nav i{visibility: visible;}

    .in-lablab::after{content: attr(txtShort);width: 100%;}
    .in-lablab::before{display: none;}
        /* color: #ffffff; */

    .card{ width: 80vw !important; left: 0px;}
}


#introduce-sect{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    height: 100vh;
    border-width: 10px;
    
    justify-content:center;
    align-content: center;
}

#introduce-sect h1{font-family: 'Raleway', sans-serif; font-weight:900;}
#introduce-sect p, label{font-family: 'Roboto', sans-serif;font-weight:100;}

#intro-text h1{font-size: clamp(36px,4.5vw,42px); text-wrap: wrap;}
#intro-text p{font-size: clamp(28px, 2vw,36px);text-wrap: wrap;}

#introduce-sect #intro-button a{
    display: flex;
    align-items: center;

    text-decoration: none;

    font-family: 'Raleway', sans-serif; 
    font-weight:700; 
    
    margin-right: 10px;
    font-size: clamp(12px, 5vw,24px);
    max-height: fit-content;    
    background-color: rgb(255, 255, 255,0);
    border-radius: 7.5px;

    border: 2px solid rgb(40, 160, 97);
    
    padding-inline:10px;
    padding-block: 5px;

    align-self: center;

    color:#28A061;

    transition: background-color 100ms, color 100ms;
    transition-timing-function: ease-in-out;
}

#introduce-sect #intro-button a:hover{
    background-color: rgb(40, 160, 97);
    color: white;}

#img-cont{
    background-color: rgba(165, 42, 42,0);
    border: #28A061 10px outset;
    aspect-ratio: 1/1;
    border-radius: 50%;
    max-width: 400px;
    width: 60vw;
    
    display: flex;
    flex-direction: column;
    justify-items: center;

    -webkit-box-shadow: 0px 0px 34px -13px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 34px -13px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 34px -13px rgba(0,0,0,0.5);
}

#img-cont .img-profile{scale: 97.5%;border-radius: 50%; height:100%; align-self: center; aspect-ratio: 1/1; object-fit: cover; object-position: center center;}


.intro-title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    max-width: 525px;

    align-self: center;
    overflow-inline:visible;
}

.intro-title #intro-text{
    width: 100%;
    text-wrap:wrap;
}

#intro-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-block: 10px;

    flex-wrap: wrap;

   justify-content: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 24;    
    margin-right: 5px;
    }

#intro-subtext hr {height: 1px; background-color: rgb(54, 54, 54); width: 100%; border-style: none;}
#intro-subtext p {font-size: clamp(10px, 2.5vw, 16px)}
#intro-subtext{display:flex; flex-direction:column; width: 100%;}




/* ---------------------------------------------------------- */
/* Navegador */
/* ---------------------------------------------------------- */
#nav{
    display: flex;
    justify-content: center;

    transform: translateY(50%);

    position: sticky;
    top: 20px;

    z-index: 100;
}

#nav ul {
    /** Propiedades contenedor ul **/
    padding: 0;
    margin: 0;

    background-color: rgb(248, 248, 248);

    /** FlexBox **/
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    
    /** Estilo de lista**/
    list-style: none;

    /** Formato de texto**/
    text-align: center;
    
    border-radius: 20px;
    overflow: hidden;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


#nav a {
    text-decoration: none;
    padding: 10px; width: max-content; 
    font-family: 'Roboto', 'sans serif';
    font-weight: 300;
    transition: background-color 100ms,
                color 100ms;
    transition-timing-function: ease-in-out;
}

/* #nav li:not(:last-of-type) {
    border-right:1px solid #e6e6e6;
} */

#nav a:hover { 
    background-color:#066132;
    color: white;

    font-weight: 300;
}

/* ---------------------------------------------------------- */
/* Secciones de Body */
/* ---------------------------------------------------------- */
#bd-sections{display: flex; flex-direction: column; max-width: 100vw;}
#bd-sections > section {padding-inline: 10vw;}
#bd-sections section:nth-child(odd){
    background-color: #ffffff;
}

#bd-sections h2{font-family: 'Dosis', sans-serif; font-weight: 900; padding-inline:20px; padding-block: 5px; background-color: #76befa; width: max-content; color: #063861; border-radius: 20px;}
#bd-sections p{font-family: 'Roboto', sans-serif;font-weight: 300;}
#bd-sections p {margin-block: 10px; line-height: 140%; width: auto;}

.bd div{max-width: 1000px; width: 100%;}

.bd{
    padding-bottom: 50px;
    padding-top: 40px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#him {
    background-color: white;
    border-width: 10px;
}



#bd-sections h3{font-family: 'Roboto', 'sans serif'; font-weight: 900; font-size: 20px; margin: 0;}
#bd-sections h4{font-family: 'Roboto', 'sans serif'; font-weight: 300; font-size: 16px; margin:0}


/* Configuraciones contenedor del timeline */
#timeline{
    width: 100%;
    height: auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    /* justify-content: center; */
    gap:100px;
    /* overflow-x: hidden; */
    /* overflow: hidden; */
}

#timeline #line {
    border-block: 3px solid rgb(201, 201, 201) ;

    background-color: white;

    /* height: 500px; */
    height: 0px;

    width: 90%;   
    /* padding: 20px; */
    
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    transition: height .5s ease-in-out;
}

#line #JobsDetails {
    padding: 20px;

    display: grid;
    border: #063861;
    grid-row: 3;
    grid-column: 2;
}

#JobsDetails {  
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 0.3fr 0.7fr 2.7fr 0.6fr;
    gap: 5px 5px;
    grid-auto-flow: row dense;
    grid-template-areas:
      "Back-to-Main tools"
      "Image Funct-Company"
      "Image Details-data"
      "Images Tecnologies-tags";
    /* border: 5px solid black; */
}
 
#JobsDetails>div{
    display:flex; width: 100%; height: auto; 
    max-height: min-content;
    /* background-color:green; */
     /* border: 1px solid black; */
     padding-inline: 10px;
     background-color: #00000009;
     border-radius: 10px;
}


#JobsDetails h5 {margin: 0px ;padding: 0px 0px 0px 0px;}
#JobsDetails .Details-data h5 {margin: 0px ;padding-block: 10px;}
#JobsDetails p {margin: 0px ;padding: 0px 0px 0px 0px;}

.Back-to-Main {scale:1;align-items: center;grid-area: Back-to-Main; transition: scale .5s ease-in-out;}
.Back-to-Main i:hover{scale:1.2; transform-origin: center; transition: scale .2s ease-in-out}

.Funct-Company {grid-area: Funct-Company;flex-direction: column; justify-content: center;}
.Funct-Company > div {display:flex; flex-direction: row; justify-content: space-between;}

.Image {grid-area: Image;display:flex; justify-content: center;}
.Image img {width: 100%; height: auto; object-fit: contain; max-height: 100%;}

.Tecnologies-tags { grid-area: Tecnologies-tags; display: flex;justify-content: center; align-items: center; column-gap: 10px}
.Tecnologies-tags img{ width: auto;height: 50px; object-fit: cover; filter:grayscale(100%); transition: filter .3s; }
.Tecnologies-tags img:hover{filter: grayscale(0%); transition: filter .3s;}

.Images { grid-area: Images; display: flex; align-items: center; justify-content: center; column-gap: 7.5px;}
.Images img{ width: auto; height: 50px; cursor: pointer; object-fit: cover; aspect-ratio: 9/16; transition: all .3s;}
.Images img:hover{ scale:1.1;transform-origin: center; transition: scale .5s ease-in-out, aspect-ratio .5s ease-in-out; aspect-ratio: 16/9;}


.Details-data { grid-area: Details-data; flex-direction:column; overflow-y: hidden; scrollbar-gutter: stable both-edges; padding-block: 10px;}
.Details-data:hover, .Details-data:active, .Details-data:focus { overflow-y: scroll;}
.Details-data::-webkit-scrollbar {width: 5px}
.Details-data::-webkit-scrollbar-thumb {background-color:#e4e4e4; border-radius: 5px;}

.Meta {display: flex;align-items: center;flex-direction: row-reverse;justify-content: space-between;column-gap: 10px;}
.Meta ul{list-style: none;display:flex; padding:0;width: 100px; justify-content: start; column-gap: 5px;}
.Meta li{background-color:rgb(255, 255, 255,0); color: #063861; border: 1px solid #063861; border-radius: 50%;aspect-ratio: 1;width: 25px; display: flex; align-items: center; justify-content: center;}
.Meta li.active {background-color: #063861; color: white;}
.Meta li:hover {cursor:pointer}


.Meta h4{font-size:small !important;}



#timeline > h3 {
    font-family: "Dosis", sans-serif;
    font-weight: 300;
    scale: 100%;
    width: max-content;

    /* position: absolute; */
    left: 50%;
    top:0%;
    /* transform: translateX(-50%); */
    
    background-color: #066132;
    color: white;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    text-transform: uppercase;
}   

#timeline > h3 span {font-family: "Dosis", sans-serif; font-weight: 600;}
#timeline * {font-family: 'Roboto', sans-serif;}

/* Configuraciones timeline*/
/* Generalidad */




#timeline #line #glowline {
    content:'';
    border-block: 1px solid rgb(13, 184, 64);
    position: absolute;
    width: 1px;
    height: 1px;
    transform: translateY(-50%);
    z-index: 0;
    opacity: 0;

    transition: opacity .3s, width 2s;
}

#timeline #line:has(.circle:hover) #glowline { opacity: 1; transition: opacity .3s, width 1s;}
#timeline #line:has(.circle) #glowline {transition: opacity 1s, width .3s;width:0%; transition-timing-function: ease-in-out; transition-delay: .3s;}

/* Configuraciones años (años trabajados) - CIRCULOS*/
#timeline #line > .circle {
    position: relative;
    background-color: rgb(255, 255, 255);
    aspect-ratio: 1/1;
    height: 20px;
    width: auto;
    transform: translateY(-50%);
    margin: 0;
    border-radius: 50%;

    opacity: 100%;
    transition: opacity .5s;
}

#timeline #line > .circle {
    animation: fadein-loader;
    animation-duration: 1s;
}

@keyframes fadein-loader {
    0% {opacity: 0;} 100% {opacity: 1;}
}

#timeline #line .circle[hide]{
    animation: fadeout-loader .2s forwards;
    animation-iteration-count: 1;
}

@keyframes fadeout-loader {
    0%{opacity: 1;} 100%{opacity: 0; display: none;}
    
}

#timeline #line > .circle[typeJob="noprof"] {border: 2px solid rgb(9, 167, 106); background-color: rgb(230, 255, 245);}
#timeline #line > .circle[typeJob="prof"] {border: 2px solid rgb(9, 104, 167);background-color: rgb(207, 236, 255)}
#timeline #line > .circle[typeJob="mix"] {
    border: 2px solid transparent;
    background-image: linear-gradient(white, white), 
                    linear-gradient(90deg, rgb(9, 167, 106) 50%, rgb(9, 104, 167) 50%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#timeline #line > .circle::before {
    content: attr(year);
    position: absolute;
    transform: translate(-27%, -150%);
    margin: 0; padding: 0;
    font-weight: 700;
}

/* CIRCULOS EFECTOS Y ANIMACIONES CIRCULOS Y CARDVIEW*/
#timeline #line .cfooter a{text-decoration: none;font-weight: 700;}
#timeline #line > .circle {transition: background-color .3s, display .3s; transition-timing-function: ease-in-out; transition-delay: .3s;}
#timeline #line > .circle:hover {background-color:#68d499; border-color: #28A061; transition-delay: .0s;}
#timeline #line .circle:hover .card {visibility: visible; opacity: 1; top:50px; transition-delay: .0s; display:inherit;}

#timeline #line .card{
    position: fixed;
    transition: top .3s, opacity .1s, visibility .5s;
    transition-timing-function: ease-in-out;
    transition-delay: .3s;
    
    top: 40px;
    transform: translateX(-50%);
    width: 50vw;
    max-width: 500px;
    

    opacity: 0;
    visibility: hidden;

    /* display:none; */
}


#timeline #line .card ul li:hover {cursor: pointer;}

#timeline #line .card ul li {
    text-align: center;
    border-radius: 50%;
    aspect-ratio: 1/1;

    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: background-color 150ms, color 150ms;
    transition-timing-function: ease-in-out;
}

#timeline #line .card ul {
    /* position: absolute; */
    list-style-type: none;
    list-style: none;

    float: right;

    margin: 0;
    padding-inline-start: 0;
    justify-content: center;
    z-index: 2;

    aspect-ratio: 2/1;
    height: auto;
    width: 100px;

    display:flex;
    flex-direction: row;
    gap: 5px;

    align-items: center;

    top: 10px;
    right: 20px;
}

#timeline #line .card ul li[type="noprof"] {border: 1px solid #066132;}
#timeline #line .card ul li[type="prof"] {border: 1px solid #063861;}
#timeline #line .card ul li[type="noprof"].active  {background-color: #066132; color: white;}
#timeline #line .card ul li[type="prof"].active {background-color: #063861;color: white;}
#timeline #line .card li .active {
    font-weight: 900;

    transition: all 150ms;
    transition-timing-function: ease-in-out;
}

#timeline #line .card .cardview .cdata span {
    background-color: #066132;
    border: #066132;
    width: 10px;
    height: 10px;
}

#timeline #line .cardview {
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 25px #0000002c;

    background-color: rgb(255, 255, 255,.75);
    backdrop-filter: blur(1px);

    transition: height 1s;
    transition-timing-function: ease-in-out;
}

#timeline #line .cdata {padding: 20px;}
#timeline #line .cdata > div {display: flex; flex-direction: row;}
#timeline #line .cdata > div > ul {align-items: flex-start;}
#timeline #line .cfooter {
    font-weight: 300;
    position: absolute;
    bottom: 0px; margin:0; padding: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,  rgb(255, 255, 255,75%) 10%, rgb(255, 255, 255) 100%);}



/* ---------------------------------------------------------- */
/* Footer */
/* ---------------------------------------------------------- */

footer{ box-shadow: 0px -5px 48px -24px rgba(0,0,0,0.75);}
footer h3{font-family: 'Roboto', 'sans serif'; font-weight: 500;}
footer p{font-family: 'Roboto', 'sans serif';font-weight: 100;}

footer div {
    display: flex;
    background-color: white;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer p, h3{ font-size: 12px;}


a{color: black;}

#socialnetwork{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content:center;
    width: 100%;
    margin-top: 10px;
}

/* Icon Header */
header{
    .bi{font-size: 32px;}

    .bi-youtube:hover{color: red;cursor: pointer;}
    .bi-linkedin:hover{color: rgb(13, 121, 184); cursor: pointer;}
    .bi-instagram:hover{color: rgb(228, 9, 217); cursor: pointer;}
    .bi-github:hover{color: rgb(160, 131, 4); cursor: pointer;}

    .bi-youtube{transition: color 300ms; transition-timing-function: ease-in-out;}
    .bi-linkedin{transition: color 300ms; transition-timing-function: ease-in-out;}
    .bi-instagram{transition: color 300ms; transition-timing-function: ease-in-out;}
    .bi-github{transition: color 300ms; transition-timing-function: ease-in-out;}
}

/* Icon Nav*/
nav .bi{font-size: inherit; margin-inline: 10px;}

form{
    display: flex;
    flex-direction: row;

    margin-top: 20px;
    background-color: white; 
    border-radius: 10px; 

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
}


/* #typeJobs form {} */
.in-lab{display: none;}    

.in-lablab::before {content: attr(txtlarge);}
.in-lablab{
    padding-inline: 20px;
    padding-block: 10px;
    /* width: 100%; */
    overflow:hidden;
    transition: background-color 0.2s;
    
    display: flex;
    text-align: center;
    align-items: center;

    flex-wrap: wrap;
}

.in-lablab:not(:last-of-type){border-right: 1px solid #e6e6e6;}

/* .in-lablab{} */
.in-lab:checked + .in-lablab{background-color:#066132; color: white;}


/* SECTION SKILLS - TECNOLOGIAS Y HERRAMIENTAS */
#skills {}
#skills img{aspect-ratio: 1/1 ;width: 100px;height: auto; object-fit: cover;border: 1px solid black;}

